@model IEnumerable<Gomar.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Artykuły</h1>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Product")'">
        <i class="fas fa-plus"></i> Dodaj
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a>Obraz</a>
            </th>
            
            <th>
                <a>Kategoria</a>
            </th>
            <th>
                <a>Opis</a>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody style="font-weight: 400;">
@foreach (var item in Model) {
        <tr>
            <td>
                <p><img style='width:250px;' src="@Url.Content(item.ImageSrc)"></p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
            <td>
                <button type="button" class="btn btn-warning btn-sm px-3 py-2" onclick="location.href='@Url.Action("Edit", "Product", new { @id = item.Id } )'">
                    Edytuj
                </button>
                <p></p>
                <button type="button" class="btn btn-danger btn-sm px-3 py-2" onclick="location.href='@Url.Action("Delete", "Product", new { @id = item.Id } )'">
                    Usuń <i class="fas fa-times"></i>
                </button>
            </td>
        </tr>
}
    </tbody>
</table>
